<div class="container">
    <div class="content">
        <div class="left">
            <div class="top-texts">
                <span class="logo-text">europop</span>
                <span class="title">შემოგვიერთდით და პირველი გაეცანით მსოფლიო სპორტის უახლეს ამბებს</span>
            </div>
            <div class="middle-texts">
                <div class="input-group">
                    <input type="email" class="input" id="Email" name="Email" placeholder="ელფოსტა" autocomplete="off">
                    <input class="button--submit" value="გამოიწერე" type="submit">
                </div>
                <span class="text">
                    * სიახლეების გამოწერით ადასტურებ, რომ გაეცანი კონფიდენციალურობის პოლიტიკას და ეთანხმები, რომ შენი მონაცემები დაამუშავოს კომპანიამ შეტყობინებების გამოსაგზავნად
                </span>
            </div>
            <div class="end-texts">
                <div class="icons-div">
                   <a href="/login"><span class="folow">გამოგვყევი</span></a> 
                    <img src="https://img.icons8.com/?size=100&id=hFoVFpm6gl9A&format=png&color=000000" alt="" class="icons">
                    <img src="https://img.icons8.com/?size=100&id=118562&format=png&color=000000" alt="" class="icons">
                    <img src="https://img.icons8.com/?size=100&id=115371&format=png&color=000000" alt="" class="icons">
                    <img src="https://img.icons8.com/?size=100&id=GN6LgEfShU2b&format=png&color=000000" alt="" class="icons">
                </div>
               <a class="messanger" href="/login">მოგვწერე  <img class="mes-logo" src="https://img.icons8.com/?size=100&id=42869&format=png&color=000000" alt=""></a>
            </div>
        </div>
        <div class="right">
            <ul class="ul-title">
                <span class="title-ul">კატეგორია</span>
                <li class="links">ფეხბურთი</li>
                <li class="links">ეროვნული ლიგა</li>
                <li class="links">ეროვნული ნაკრები</li>
                <li class="links">სხვა სახეობები</li>
                <li class="links">ლეგიონერები</li>
                <li class="links">ფუტსალი</li>
            </ul>
            <ul class="ul-title">
                <img class="plus-logo" src="https://europop.ge/images/eplus.png" alt="">
                <li class="links">ანალიტიკა</li>
                <li class="links">ისტორია</li>
                <li class="links">ინტერვიუ</li>
                <li class="links">ქვიზი</li>
                <li class="links">ბლოგი</li>

            </ul>
            <ul class="ul-title">
                <span class="title-ul">დახმარება</span>
                <li class="links">ელფოსტა</li>
                <li class="links">კონფიდენციალურობა</li>
                <li class="links">წესები და პირობები</li>
                <li class="links">კონტაქტი</li>
                <li class="links">ჩვენ შესახებ</li>
            </ul>
            <ul class="ul-title">
                <span class="title-ul">პროფილი</span>
                <li class="links">ჩემი პრფილი</li>
                <li class="links">ჩემი ინტერვიუ</li>
                <li class="links">პარამეტრები</li>
                <li class="links">შენახული</li>
            </ul>
        </div>
    </div>
    <div class="end-side">
        <div class="end-left">
            <div class="develop">
                <span class="text-by">developed by რეზი ლომიძე <br>
                    copyright europop ყველა უფლება დაცულია.
                </span>
                <img class="logo-topGe" src="https://europop.ge/icons/topge-logo.png" alt="">
            </div>
        </div>
        <div class="end-right">
            <div class="banner-btn">
                <div class="btn-1"><img class="apple" src="https://europop.ge/icons/appstore.png" alt=""></div>
                <div class="btn-2"><img class="play-store" src="https://europop.ge/icons/googleplay.png" alt=""></div>
            </div>
        </div>
    </div>
</div>