
<div class="container">
    <div class="main-container">

        <swiper-container class="mySwiper" pagination="true" pagination-clickable="true"  space-between="20"
        slides-per-view="2.7">
        <swiper-slide *ngFor="let auth of authors">
            <div class="main">
                <div class="back-auth">
                    <a href="">
                        <img class="auth-logo" src="{{auth.avatar?.fileUrl}}" alt="">
                    </a>
                        

                </div>
                    <div class="content">
                        <div class="avtor-name">
                            <span class="Fname">{{auth.firstName}}  {{auth.lastName}}</span>
                        </div>
                        <div class="icones">
                            <div class="left">
                                <i class="pi pi-users" style="font-size: 1.2rem"></i>
                                <span class="count">{{auth.subscribersCount}}</span>
                            </div>
                            <div class="line"></div>
                            <div class="right">
                                <i class="pi pi-star" style="font-size: 1.2rem"></i>
                                <span class="count">{{auth.likesCount}}</span>
                            </div>
                        </div>
                        <div class="butt">
                            <button class="shadow__btn">
                                გამოწერა
                            </button>
                        </div>
                    </div>
            </div>
        </swiper-slide>
      </swiper-container>

    </div>
</div>