.container{
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.main-container{
    display: flex;
    align-items: flex-start;
    -webkit-box-pack: justify;
    flex-direction: column;
    margin-bottom: 24px;
    height: 100%;
    width: 100%;
    max-width: 1220px;
    padding-top: 60px;
    gap: 10px;
}
swiper-container {
    width: 800px;
    height: 100%;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
  }

  swiper-slide,.main {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .back-auth{
    background-image: url(https://cdn.europop.ge/510ed9b7-7465-4e75-b661-5c1a304887b5);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 270px;
    height: 110px;
  }
  .main{
    display: flex;
    flex-direction: column;

  }
  .content{
    width: 270px;
    height: 200px;
    background-color: rgb(30, 30, 32);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    gap: 25px;
    display: flex;
    flex-direction: column; 
  }
  .shadow__btn {
    padding: 7px 10px;
    border: none;
    font-size: 15px;
    color: #fff;
    border-radius: 15px;
    font-weight: 600;
    transition: 0.5s;
    transition-property: box-shadow;
    cursor: pointer;
  }
  
  .shadow__btn {
    background: tomato;
    box-shadow: tomato;
  }
  
  .shadow__btn:hover {
    box-shadow: 0 0 5px rgba(255, 99, 71, 0.413),
                0 0 25px rgba(255, 99, 71, 0.406),
                0 0 50px rgba(255, 99, 71, 0.596),
                0 0 100px rgba(255, 99, 71, 0.433);
  }
  .auth-logo{
    box-sizing: border-box;
    z-index: 5;
    position: absolute;
    top: 40px;
    left: 50%;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    transform: translateX(-50%);
    border: 5px solid rgb(37, 38, 38);
  }
  .Fname{
    color: white;
    font-feature-settings: inherit;
    font-size: 15px;
    font-weight: 700;
  }
  .icones{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .left,.right{
    display: flex;
    gap: 7px;
  }
  .line{
    border-right: 1px solid rgb(94, 92, 92);
    padding-right: 2px;
    width: 5px;
    height: 25px;

  }
  .pi{
    color: white;
  }
  .count{
    font-size: 16px;
    color: white;
    font-weight: 500;
  }
