.container-form{
    width: 580px;
    height: 625px;
    background-image: url(https://europop.ge/images/bgModal.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    position: absolute;
    background-color: #242425;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 15px;
}
.container{
    position: absolute;
    left: 35%;
    top: 150px;
}
.me{
    color: white;
}
.login-form{
    width: 50%;
}
.form-top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo,.text{
    width: 430px;
    height: 65px;
    text-align: center;
}
.top-img{
    width: 65px;
    height: 40px;
}
h2{
    color: white;
    font-size: 17px;
    font-weight: 600;
}
::placeholder{
    border: none;
    color: white;
}
nz-input-group{
    background-color: #24242500;
    color: white;
    border: none;
    border-bottom: 1px solid rgb(62, 62, 62) ;
    padding-bottom: 10px;
}
input{
    background-color: #24242500;
    color: white;
}
.form-end{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.login-form-button{
    width: 100%;
    background-color: tomato;
    border: tomato;
    border-radius: 5px;
}
.icons-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.space{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}
p{
    color: gray;
    margin: 0px;
    padding: 0px 5px;
    font-size: 15px;
    font-weight: 600;
}
.an{
    border-bottom: 1px solid  rgb(62, 62, 62);
    padding: 1px;
    width: 100%;
}

.icons{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.login-form-margin{
    height: 40px;
}
a{
    font-weight: 600;
}
.dont{
    color: white;
    font-size: 15px;
}
