.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 93%;
    height: 80px;
}
.container{
    background-color: black;
    display: flex;
    justify-content: center;

}
.left,.right{
    display: flex;
    align-items: center;

}
.left{
  gap: 30px;
}
a{
  text-decoration: none;
  color: white;
}
span{
    color: white;
    font-size: 16px;
    font-weight: 600 !important;
    margin-left: 7px;
    cursor: pointer;
}
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    width: 395px;
    padding: 8px 16px;
    background-color: #232325;
    border-radius: 30px;
  }
  .group:hover{
    border: 1px solid rgba(167, 54, 23, 0.695);
  }

  .input {
    width: 100%;
    height: 35px;
    line-height: 28px;
    border: 2px solid transparent;
    outline: none;
    background-color: #232325;
    color: #ffffff;
    transition: 0.3s ease;
    width: 320px;
    padding-left: 25px;
  }

  .input::placeholder {
    color: #929292;
    font-size: 15px;
    font-weight: 500;

  }

  .input:focus,
  input:hover {
    outline: none;

  }
  .group:hover .icon{
    fill: white !important;
  }
  .icon{
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 2rem;
  }
  svg{
    width: 20px !important;
    height: 20px !important;
  }
.plus-B{
  padding: 0px;
  background: none;
  border: none;
  cursor: pointer;
}

.plus{
  height: 24px;
  width: 40px;
}
.line{
  background-color: #49494b;
  padding: 17px 0.5px;
}
.color{
  padding: 8px;
  border-radius: 50px;
  background-color: rgb(255, 98, 0);
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.euro{
  font-family: "Ubuntu Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400 weight;
  font-style: normal;
  margin-left: 3px;
  font-size: 27px;
}
.sport-logos{
  height: 25px;
  width: 25px;
}
.menu{
  width: 50px;
  height: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.menu span{
  background: #fff;
  display: block;
  height: 2px;
  border-radius: 5px;
  margin: 0px;
  transition: 0.5s;
}
.menu {
  cursor: pointer;
}


.menu.open .line-1 {
  transform: rotate(-45deg) translate(-40%);
  width: 24px;
}

.menu.open .line-2 {
  width: 0px;
}

.menu.open .line-3 {
  transform: rotate(45deg) translate(-40%);
  width: 24px;
}

.line-1{
  width: 17px;

}
.line-2{
  width: 23px;
}
.line-3{
  width: 13px;
}
.drop-bar{
  background: #232325;
  height: 200px;
  width: 100%;
  position: absolute;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: red;

}
